.personal-page {
    background-color: #0B192F;
    font-size: 20px;
    color: #8892b0;
    font-family: 'Times New Roman', sans-serif;
    padding: 0;
    line-height: 1.4;
}

main {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

section {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div {
    margin-bottom: 15px;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #88d1c0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation a {
    margin: 0;
    display: inline;
    text-decoration: none;
    color: #0B192F;
    padding: 10px 20px;
    transition: font-size 0.3s;
}

#navigation a:hover {
    color: #8892b0;
    font-size: 1.2em;
}

img {
    width: 200px;
    height: 200px;
    border: 2px solid #dddddd;
    border-radius: 50%;
    margin: 20px;
    padding: 5px;
    transition: transform 0.3s;
}

.profile-container {
    display: flex;
    margin: auto auto auto 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto;
}

.cred {
    margin: 5px 0;
}

hr {
    margin: 0;
    width: 88.5%;
    display: inline-block;
    color: #88d1c0;
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    display: inline-block;
}

#summary p {
    text-align: justify;
    margin: 0 10px;
}

p, li, h1, h2, h3 {
    text-shadow: 2px 2px 4px #10131c;
}

li {
    margin: 5px auto;
    list-style-type: disc;
}


